---
permalink: "/tags.json"
eleventyExcludeFromCollections: true
---

[
{% for tag in collections.posts | getAllTags | filterTagList %}
    "{{tag | decode}}"{%- if not loop.last %},{% endif %}
{% endfor %}
]
