---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyExcludeFromCollections: true
eleventyComputed:
  title: Tagged “{{ tag | safe }}”
permalink: /tags/{{ tag | slug }}/
---

<h1 class="page-title">Tagged “{{ tag | safe }}”</h1>

{% set postslist = collections[tag] | reverse %}
{% include "postslist.njk" %}