---
permalink: /tags/
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---
<h1>Tags</h1>

<ul>
	{% for tag in collections.posts | getAllTags | filterTagList %}
		{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
		<li>
			<a href="{{ tagUrl }}" class="post-tag">{{ tag | safe }}</a>
		</li>
	{% endfor %}
</ul>