{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol class="postlist">
	{% for post in postslist %}
		{% include "partials/post.njk" %}
	{% endfor %}
</ol>
