.postlist { counter-reset: start-from 2 }
* { box-sizing: border-box; }
@charset "UTF-8";
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2"),
    url(/fonts/Atkinson-Hyperlegible-Italic-102.woff) format("woff");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2"),
    url(/fonts/Atkinson-Hyperlegible-Regular-102.woff) format("woff");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format("woff2"),
    url(/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff) format("woff");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2"),
    url(/fonts/Atkinson-Hyperlegible-Bold-102.woff) format("woff");
}
/* Defaults */
:root {
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 18px;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: #333;
  --background-color: #866bb8;
  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-active: #5f2b48;
  --text-color-link-visited: #17050f;
  --syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #dad8d8;
    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #1493fb;
    --text-color-link-active: #6969f7;
    --text-color-link-visited: #a6a6f8;
    --background-color: rgb(25, 25, 25);
  }
}
/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background-color);
}

html {
  overflow-y: scroll;
}

body {
  max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

blockquote {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: inherit;
  padding-left: 36px;
  border-left: 4px solid #ccc;
}

main :first-child {
  margin-top: 0;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.links-nextprev {
  list-style: none;
  border-top: 1px dashed var(--color-gray-20);
  padding: 1em 0;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375; /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

code {
  word-break: break-all;
}

/* Header */
header {
  padding: 1em;
}

.home-link {
  font-weight: 700;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 1em;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--color-gray-90);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: 0.25em;
  padding-right: 0.5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-metadata time {
  margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: #aaa;
}

h2 + .header-anchor {
  font-size: 1.5em;
}

/* stuff below this line is octobug-specific,
everything above is remnants of the eleventy-base-blog theme */
#intro {
  text-decoration: none;
  font-weight: 700;
  color: white;
  display: grid;
  align-items: center;
  gap: 4px;
  grid-template-columns: 2fr 4fr;
}
#intro .profile-pic {
  grid-column: 1;
  grid-row: 1/4;
}
#intro .profile-pic img {
  aspect-ratio: 1/1;
  height: 8em;
  border-radius: 4em;
}
#intro h1,
h2,
h3 {
  grid-column: 2;
  height: min-content;
  margin-inline: 8px;
  margin-block: 0px;
}
#intro .site-name {
  font-size: 1.75em;
}
#intro .display-name {
  font-size: 1.25em;
}
#intro .username {
  font-size: 1em;
  color: #ccc1e1;
}

.page-title {
  padding-inline: 1em;
}

.profile-pic.big {
  height: 8em;
  border-radius: 4em;
}

ol.paginationContainer {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
}

svg.pagination {
  fill: rgb(255, 171, 92);
  color: rgb(25, 25, 25);
  height: 32px;
}

form#secrets {
  display: flex;
  flex-direction: column;
}
form#secrets label {
  margin-top: 12px;
}
form#secrets button {
  margin-top: 24px;
  margin-left: auto;
  width: 80px;
  height: 2lh;
}

.post {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0.2em 0.4em 0.1em rgba(0, 0, 0, 0.4);
  margin: 24px;
  min-width: 300px;
  padding: 8px;
}
.post .metadata {
  font-size: 0.95em;
  border-radius: 8px 8px 0 0;
  margin: -8px;
  padding: 8px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 0%;
  min-width: 0px;
  gap: 0.5rem;
}
.post .metadata .p-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.post .metadata .profile-pic img {
  aspect-ratio: 1/1;
  height: 2em;
  border-radius: 1em;
}
.post .metadata .timestamp {
  color: #999;
  white-space: nowrap;
}
.post .metadata .timestamp a {
  color: inherit;
  text-decoration: none;
}
.post .title {
  margin-inline: 0.75em;
  margin-block: 1.25em;
  font-size: 1.25em;
}
.post .title a {
  text-decoration: none;
  color: inherit;
}
.post .postbody {
  margin-inline: 0.75em;
  margin-bottom: 1.5em;
}
.post .postbody img {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}
.post .tags {
  margin-inline: 0.75em;
  font-size: 0.875em;
}
.post .tags ol {
  padding: 2px;
  list-style: none;
  display: inline-block;
}
.post .tags ol li {
  margin: 2px;
  display: inline;
}
.post .tags ol li a {
  text-decoration: none;
  color: unset;
}
.post .tags #taggedList {
  display: flex-inline;
}
.post .tags #taggedList .tagged {
  margin: 0.25rem;
  display: inline-grid;
  height: min-content;
  grid-template-columns: 1.5ch auto;
  align-items: center;
  text-align: center;
  padding: calc(0.25rem - 1px);
  border: 1px solid black;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.post .tags #taggedList .tagged::before {
  content: "#";
}
.post .tags #taggedList .tagged::hover:before {
  content: "×";
}
.post .comments {
  font-size: 0.9em;
  border-radius: 0 0 8px 8px;
  margin: -8px;
  margin-block-start: 8px;
  padding: 8px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 0%;
  min-width: 0px;
  gap: 0.5rem;
}
.post .comments a {
  color: #999;
  text-decoration: none;
}
.post #postTitleInput,
.post #postBodyTextarea,
.post #postTagsInput,
.post #postTitleInput:focus,
.post #postBodyTextarea:focus,
.post #postTagsInput:focus {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  width: 100%;
  border-style: none;
  outline: none;
}
.post #postTitleInput {
  font-size: 1.25em;
  font-weight: 700;
}
.post #postBodyTextarea {
  font-size: 1rem;
  resize: vertical;
}
.post #postTagsInput {
  font-size: 0.9rem;
}
.post .controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.post .controls #uploadAttachmentInput {
  display: none;
}

.post .controls #postButton {
  padding: 6px;
  background-color: #866bb6;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  border-radius: 4px;
  border: 0px;
}

footer {
  padding-top: 20px;
  padding-inline: 8px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 10em;
}
footer div {
  max-width: 20em;
}
footer div ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  padding: none;
}
footer div ul li {
  border: 2px solid white;
  background-color: white;
  font-weight: 700;
  margin: 4px;
  padding: 8px;
  text-align: center;
  color: #866bb8;
  border-radius: 8px;
  border-color: 2px solid black;
  height: min-content;
}

#cornerPostLink {
  text-decoration: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 20;
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 2em;
  background-color: rgb(255, 171, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#cornerPostLink span {
  display: block;
  color: black;
  user-select: none;
}

.showWhenLoggedIn {
  opacity: 1 !important;
  transition: opacity 0.4s ease-in;
}

@media (max-device-width: 380px) {
  #intro .site-name {
    font-size: 1.2em;
  }

  #intro .display-name {
    font-size: 1em;
  }

  #intro .username {
    font-size: 0.85em;
  }
}

@media (prefers-color-scheme: dark) {
  #intro .username {
    color: #999;
  }

  .post {
    background-color: #000000;
    box-shadow: 0 0.2em 0.4em 0.1em rgb(17, 17, 17);
    border-color: #666666;
  }
  .post .metadata {
    background-color: rgb(51, 51, 51);
    border-bottom: 1px solid #666666;
  }
  .post .title,
  .post .postbody {
    color: #ffffff;
  }
  .post .title a,
  .post .postbody a {
    color: inherit;
  }
  .post .tags #taggedList .tagged {
    border: 1px solid #666666;
  }
  .post .comments {
    border-top: 1px solid #666666;
    background-color: rgb(51, 51, 51);
  }
  footer div ul li {
    background-color: #866bb8;
  }
  footer div ul li a {
    color: white;
    text-decoration: none;
  }
  footer div ul li.disabled {
    border: none;
    background-color: inherit;
    color: inherit;
  }
}