{%set item = post | d(collections.all | getCollectionItem(page))%}

<div class="post">
    <div class="metadata">
        <span class="profile-pic"></span>
        <span class="author">{{item.data.author}}</span>
        <span class="timestamp">
            <a href={{item.url}}>{{item.data.timestamp | beatsDate }}</a>
        </span>
    </div>

    <h1 class="title">
        <a href={{item.url}}>{{item.data.title | safe}}</a>
    </h1>

    <div class="postbody">{{item.content | safe }}</div>
    <div class="tags">
        <ol>
            {%- for tag in item.data.tags | filterTagList %}{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <li>
                    <a href="{{ tagUrl }}" class="post-tag">#{{ tag | safe }}</a>
                </li>
            {%- endfor %}
        </ol>
    </div>
</div>