{%set item = post | d(collections.posts | getCollectionItem(page))%}

<article class="post h-entry">
    <div class="attribution">
        <div class="metadata p-author h-card">
            <span class="profile-pic"><img class="u-photo" src="/img/moon-dutiful.jpg"/></span>
            <span class="author p-name">{{item.data.author}}</span>
            <span class="timestamp">
                <a class="u-url u-uid" href={{item.url}} rel="canonical">
                    <time class="dt-published" datetime="{{item.data.timestamp | unixTimestampToIsoDate }}" title="{{item.data.timestamp | unixTimestampToIsoDate }}">{{item.data.timestamp | beatsDate if item.data.timestamp }}"</time>
                </a>
            </span>
            <data class="p-url" value="{{metadata.url}}"></data>
            <data class="p-logo" value="/img/moon-dutiful.jpg"></data>
        </div>
    </div>

    <h1 class="title p-name">
        <a href={{item.url}}>{{item.data.title | decode }}</a>
    </h1>

    <div class="postbody e-content">{{item.content | safe }}</div>
    <div class="tags">
        <ol>
            {%- for tag in item.data.tags | filterTagList %}{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <li>
                    <a class="p-category" href="{{ tagUrl }}" class="post-tag">#{{ tag | safe }}</a>
                </li>
            {%- endfor %}
        </ol>
    </div>
</article>
