{%set item = post | d(collections.all | getCollectionItem(page))%}

<div class="post">
    <div class="metadata">
        <div class="author">{{item.data.author}}</div>
        <div class="timestamp">{{item.data.timestamp | beatsDate }}</div>
    </div>

    <h1 class="title">
        <a href={{item.url}}>{{item.data.title}}</a>
    </h1>

    <div class="postbody">{{item.content | safe }}</div>
    <div class="tags">
        <ol>
            {%- for tag in item.tags | filterTagList %}{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <li>
                    <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
                    {%- if not loop.last %}, {% endif %}
                </li>
            {%- endfor %}
        </ol>
    </div>
</div>