---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.xml
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["posts"]
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.language }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url | addPathPrefixToFullUrl }}"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.posts | reverse %}
		{% set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
		<entry>
			<title>{{ post.data.title | decode if post.data.title else "Untitled post" }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.data.timestamp | unixTimestampToIsoDate }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content type="html"><![CDATA[<div>
				{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | safe }}
				{%- if post.data.tags | length %}
					<p>Tagged: {%- for tag in post.data.tags %}{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
							<a href="{{ tagUrl }}">#{{ tag | safe }}</a>
							{%- if not loop.last %}, {% endif %}
						{%- endfor %}
					</p>
				{%- endif %}
			</div>]]></content>
		</entry>
	{%- endfor %}
</feed>
