<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<title>{{ title | decode or metadata.title }}</title>
		<base href={{metadata.url}}/>

		<link rel="icon" href="/img/favicon.ico" sizes="any">
		<link rel="shortcut icon" type="image/png" href="/img/favicon.png" sizes="32x32"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/img/moon-dutiful-icon.jpg"/>

		<link rel="manifest" href="/manifest.json"/>

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<script type="module" src="/js/logged-in-utils.mjs"></script>
		{% getBundle "jstags" %}
		<script type="text/javascript">
			{% getBundle "js" %}
		</script>
		<link rel="me" href="mailto:topghost@fastmail.com">
		<link rel="webmention" href="https://webmention.io/topposts.net/webmention">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#866bb8"/>
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#191919"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		{% block meta %}{% endblock %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		<nav>
			<h2 class="visually-hidden">Top level navigation menu</h2>
			<ul class="nav">
				{%- for entry in collections.posts | eleventyNavigation %}
					<li class="nav-item">
						<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
					</li>
				{%- endfor %}
			</ul>
		</nav>
		<header>
			<a href="/" class="home-link" id="intro">
				<div class="profile-pic big"><img src="/img/moon-dutiful.jpg"/></div>
				<h1 class="site-name">topposts.net</h1>
				<h2 class="display-name">the most important things you'll read this week</h2>
				<h3 class="username">by {{metadata.author.name}}</h3>
			</a>
		</header>

		<section id="sidebar"></section>
		<section id="content">
			<main id="skip">

				{{ content | safe }}
			</main>
		</section>

		<hr>
		<footer>
			<div>
				topposts.net is home to {{collections.posts | arrayLength}} posts that were made with Octobug. Check out Octobug soon.
			</div>
			<div>
				<ul>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/octobug/settings">Settings</a>
					</li>
				</div>
			</footer>

			<a href="/octobug" id="cornerPostLink" class="">
				<span>POST</a>
			</a>
			<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
		</body>
	</html>