---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<meta property="og:title" content={{ title | decode or 'Untitled Post'}}/>
<meta property="og:type" content="article"/>
<meta property="og:url" content={{ url }}/>
{% ogImage "./og-image-post.njk", { title: title } %}
<meta property="og:description" content="{{ content | stripTags | truncate(196, true) }}">

{% include "../partials/post.njk" %}