---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{% block meta %}
    <meta property="og:title" content={{ title or 'Untitled Post'}}/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content={{ url }}/>
    <meta property="og:image" content="/img/opengraph-banner.png"/>
    {# rendering engine is so finicky, ugh % ogImage "../_includes/layouts/og-image-post.njk", { 
        metadata: metadata,
        author: author,
        date: date,
        title: title,
        content: content,
        tags: tags
    } %#}
    <meta property="og:description" content="{{ content | stripTags | truncate(196, true) }}">
{% endblock %}

{% include "../partials/post.njk" %}