---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<meta property="og:title" content="topposts.net: {{ title | decode }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content={{ url }}/>
<meta property="og:description" content="{{ content | truncate(100, true) }}">

{% include "../partials/post.njk" %}
